body {
  background: linear-gradient(90deg, #FFEEEE, #DDEFBB);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.table-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/* .table-input-container {
  height: 100vh;
  padding: 10px;
} */

#stats {
  height: 100vh;
  text-align: center;
}